<!--
    TEMPLATE: formulario do contato, aqui está construido a página de cadastro de um novo 
    contato de segurança. 

    EXEMPLO: nome do contato, endereço, parentesco,  foto, descrição.

-->

<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>

<div class="container">
    <div th:replace="~{base :: titulo('Meus Contatos')}"></div>

    <div class="card mt-3">
        <form th:object="${requisicaoNovoContato}" class="card-body" action="/contato/novo" method="POST">
            <div class="form-group">
                <label for="nomeContato">Contato</label>
                <input id="nomeContato" th:field="*{nomeContato}" th:errorClass="is-invalid" class="form-control"
                       placeholder="nome do contato"/>
                <small>Informe qual é o nome do contato.</small>
                <div class="invalid-feedback" th:errors="*{nomeContato}">
                    Erro no nome do contato
                </div>
            </div>
            <div class="form-group">
                <label for="endereco">Endereço</label>
                <input id="endereco" th:field="*{endereco}" th:errorClass="is-invalid" class="form-control"
                       placeholder="endereco do contato"/>
                <small>Coloque o endereço do contato aqui.</small>
                <div class="invalid-feedback" th:errors="*{endereco}">
                    Erro no endereço do contato
                </div>
                <div class="form-group">
                    <label for="parentesco">Parentesco</label>
                    <input id="parentesco" th:field="*{parentesco}" th:errorClass="is-invalid" class="form-control"
                           placeholder="parentesco do contato"/>
                    <small>Coloque o parentesco do contato aqui.</small>
                    <div class="invalid-feedback" th:errors="*{parentesco}">
                        Erro no parentesco do contato
                    </div>
                </div>
                <div class="form-group">
                    <label for="fotoContato">Foto</label>
                    <input id="fotoContato" th:field="*{fotoContato}" th:errorClass="is-invalid" class="form-control"
                           placeholder="foto do contato"/>
                    <small>Coloque a foto do seu contato aqui.</small>
                    <div class="invalid-feedback" th:errors="*{fotoContato}">
                        Erro na foto do contato
                    </div>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea id="descricao" th:field="*{descricao}" class="form-control"
                              placeholder="Adicione detalhes importantes para ajudar."></textarea>
                </div>
                <button class="btn btn-dark" type="submit">Cadastrar</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>